{% extends "./base.html" %}
{% load static %}

{% block admin-login %}

<div class="container">
    <div class="row" style="padding: 30px 20px;">
    <div class="col-xs-1 cols-sm-4 col-md-4"></div>
    <div class="col-xs-10 cols-sm-4 col-md-4">
        <div class="text-center">
            <h3> {{ heading }} </h3>
        </div>

        {% if authenticated %}
        <div class="alert alert-success">
            您已经以管理员 <strong> {{ username }}</strong> 登录。
        </div>
        <a href="#"><h4>创建新的故事会通告</h4></a>
        <a href="#"><h4>更改当前故事会通告</h4></a>
        <a href="#"><h4>查看当前及历史报名信息</h4></a>
        <a href="#"><h4>退出登录</h4></a>

        {% else %}
        {% if login_error %}
        <div class="alert alert-warning">
            <strong>Warning!</strong> {{ errmsg }}
        </div>
        {% endif %}

        <form class="form" id="admin-login" method="POST">
        {% csrf_token %}
            <div class="form-group">
                <label for="">用户名：</label>
                <input type="text" class="form-control" name="admin-name">
            </div>
            <div class="form-group">
                <label for="">密码：</label>
                <input type="password" class="form-control" name="admin-pwd">
            </div>
            <div class="text-center">
                <button type="submit" name="login-btn" class="btn btn-primary">登  录</button>
            </div>
        </form>

        {% endif %}
    </div>
    <div class="col-xs-1 cols-sm-4 col-md-4"></div>
    </div> <!-- row -->

</div>

{% endblock %}