{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Motel des Cedres</title>
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial|Julius+Sans+One" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datepicker.standalone.css' %}" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function () {
          $('#checkin-datepicker').datepicker({
              format: "dd/mm/yyyy"
          });
          $('#checkout-datepicker').datepicker({
              format: "dd/mm/yyyy"
          });
          $("#reserveBtn").click( function(event) {
              event.preventDefault();
              var reserveData = $("#reserveForm-1, #reserveForm-2").serialize();
              console.log(reserveData);
              $.ajax({
                  url: '/',
                  type: 'POST',
                  data: reserveData,
                  
                  success: function (content) {
                    $("#reserveModal").hide();
                    $("html").html(content)
                  },
                  error: function(){
                      alert("error in ajax form submission");
                  }
              });

              return false;
          });
      });
    </script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    body {
      font-family: 'Questrial', sans-serif;
    }
    .julius-font {
      font-family: 'Julius Sans One', sans-serif;
    }
    .bg-0 { 
      background-color: #fff; 
      color: #000;
    }
    .bg-1 { 
      background-color: #0b486b; 
      color: #f5f5f5;
    }
    .bg-2 { 
      background-color: #e3e3e3; 
      color: #000;
    }

    
  </style>
  </head>

<body>
<div class="container bg-1 text-center" style="padding: 20px 20px">
  <div class="row">
    <div class="col-xs-1 col-sm-2 col-md-4"></div>
    <div class="col-xs-3 col-sm-3 col-md-1">
      <img class="img-responsive pull-right" src="{% static 'mtlstory-logo.png' %}"></img>
    </div>
    <div class="col-xs-7 col-sm-5 col-md-3">
      <h3 style="float: left;">蒙城中文故事会</h3>
      <p>Chinese story-telling in Great Montreal area</p>
    </div>
    <div class="col-xs-1 col-sm-2 col-md-4"></div>
  </div>
</div>

  {% block home-content %}
  {% endblock %}


</body>
</html>
