{% extends "./base.html" %}
{% load static %}

{% block create-notice-success %}

<div class="container" style="padding: 20px;">
    <div class="row" style="padding: 10px 0px;">
        <div class="col-xs-0 cols-sm-2 col-md-2"></div>
        <div class="col-xs-12 cols-sm-8 col-md-8">
            <a href="/mtlstory/admin/" <h4>管理员功能 >></h4></a>
        </div>
        <div class="col-xs-0 cols-sm-2 col-md-2"></div>
    </div>
    <div class="alert alert-success">
        您已经成功创建{{ district }}活动通知。
    </div>
</div> <!-- container -->

{% endblock %}