{% extends "./base.html" %}
{% load static %}

{% block create-notice %}

<div class="container">
    <div class="row" style="padding: 30px 20px;">
    <div class="col-xs-0 cols-sm-2 col-md-2"></div>
    <div class="col-xs-12 cols-sm-8 col-md-8">
        <div class="text-center">
            <h3> {{ heading }} </h3>
        </div>

        {% if authenticated %}
        <div class="alert alert-success">
            您已经以管理员 <strong> {{ username }}</strong> 登录。
        </div>

        {% endif %} 
    </div>
    <div class="col-xs-0 cols-sm-2 col-md-2"></div>
    </div> <!-- row -->
</div> <!-- container -->  

{% endblock %}