{% extends "./base.html" %}
{% load static %}

{% block home-content %}

<div class="container" style="padding: 20px;">
<div class="row" style="">
    <div class="col-md-6">

        <div id="myCarousel" class="carousel slided" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
            <img src="{% static 'images/brossard-03-28-01.JPG' %}" alt="">
            </div>

            <div class="item">
            <img src="{% static 'images/brossard-03-28-02.JPG' %}" alt="">
            </div>

            <div class="item">
            <img src="{% static 'images/brossard-04-23-01.JPG' %}" alt="">
            </div>
        </div>

        <!-- Left and right controls -->
        </div>

    </div> <!-- col-md-6 -->

    <div class="col-md-6" style="padding: 0px;">
        <div class="bg-2" style="padding: 5px 20px 5px 20px;">
            <h4>最新活动通告</h4>
        </div>
        <div style="padding: 10px 20px 10px 20px">
            {% if num_of_active_notices == 0 %}
            <h5>当前没有新的故事会活动通知</h5>
            {% else %}
            {% for district, story_date in active_notice_list %}
            <a href="/mtlstory/shownotice?district={{district}}&story_date={{story_date}}"><h5>[{{ district }}] - {{ story_date }} 故事会活动通知</h5></a>
            {% endfor %}
            {% endif %}
            <a href="#"><p>【查看历史活动通知】</p></a>

        </div>

    </div> <!-- col-md-6 -->

</div> <!-- row -->
</div> <!-- container -->


{% endblock %}

