{% extends "./base.html" %}
{% load static %}

{% block show-notice %}

<div class="container" style="padding: 20px;">
  {% if shownotice_error %}
  <div class="row" style="padding: 10px 0px;">
    <div class="col-xs-1 cols-sm-3 col-md-3"></div>
    <div class="col-xs-10 cols-sm-6 col-md-6">
        <div class="alert alert-warning">
          {% for errmsg in err_msgs %}
          <p><strong>Warning!</strong> {{ errmsg }}</p>
          {% endfor %}
        </div>
    </div>
    <div class="col-xs-1 cols-sm-3 col-md-3"></div>
  {% else %}
  <div class="row" style="">
    <div class="col-xs-12 text-center" style="padding: 10px;">
      <h3> {{ district }} 地区 {{ notice_data.story_date }} 故事会活动通知 </h3>
    </div>
    
    <div class="col-xs-0 col-sm-0 col-md-2"></div>
    <div class="col-xs-12 col-sm-12 col-md-8" >
      <div class="row" style="padding: 10px; background-color: cyan; margin-bottom:10px;">
        <div class="col-xs-7 col-md-10" style="font-size: 1.0em;">
          <p>为控制活动人数，我们只接受已报名者参加本次活动。报名启动时间为{{notice_data.register_date}} {{notice_data.register_time }}。</p>
          <p id="countdown-info"></p></div>
        <div class="col-xs-5 col-md-2"><button class="btn btn-primary" id="regButton">我要报名</button></div>
      </div>
      <div class="row" style="padding: 5px; font-size: 1.2em;">
        <div class="col-xs-4 col-md-3">故事会主题：</div>
        <div class="col-xs-8 col-md-9">{{ notice_data.story_theme }}</div>
      </div>
        
      <div class="row" style="padding: 5px; font-size: 1.2em;">
        <div class="col-xs-4 col-md-3">故事会日期：</div>
        <div class="col-xs-8 col-md-9">{{ notice_data.story_date }}</div>
      </div>

      <div class="row" style="padding: 5px; font-size: 1.2em;">
        <div class="col-xs-4 col-md-3">故事会时间：</div>
        <div class="col-xs-8 col-md-9">{{ notice_data.story_time }} </div>
      </div>

      <div class="row" style="padding: 5px; font-size: 1.2em;">
        <div class="col-xs-4 col-md-3">故事会地点：</div>
        <div class="col-xs-8 col-md-9">{{ notice_data.story_site }} </div>
      </div>

      <div class="row" style="padding: 5px; font-size: 1.2em;">
        <div class="col-xs-4 col-md-3">故事会地址：</div>
        <div class="col-xs-8 col-md-9">{{ notice_data.story_address }} </div>
      </div>

      <div class="row" style="padding: 5px; font-size: 1.2em;">
        <div class="col-xs-4 col-md-3">主持人：</div>
        <div class="col-xs-8 col-md-9">{{ notice_data.story_host }} </div>
      </div>

      {% for activity_name, activity_name_cn, activity_info, activity_img_url in notice_data.activity_list %}
      <div class="row" style="padding: 5px; font-size: 1.2em;">
        <div class="col-xs-4 col-md-3">{{ activity_name_cn }}：</div>
        <div class="col-xs-8 col-md-9">{{ activity_info }} </div>
      </div>
      {% endfor %}
      

      </div>
    </div>
    <div class="col-xs-0 col-sm-0 col-md-2"></div>

  </div>

  {% endif %}
</div>
{% endblock %}
