{% extends "./base.html" %}
{% load static %}

{% block show-notice %}

<div class="container" style="padding: 20px;">
  {% if shownotice_error %}
  <div class="row" style="padding: 10px 0px;">
    <div class="col-xs-1 cols-sm-3 col-md-3"></div>
    <div class="col-xs-10 cols-sm-6 col-md-6">
        <div class="alert alert-warning">
          {% for errmsg in err_msgs %}
          <p><strong>Warning!</strong> {{ errmsg }}</p>
          {% endfor %}
        </div>
    </div>
    <div class="col-xs-1 cols-sm-3 col-md-3"></div>
  {% else %}
  <div class="row" style="">
    <div class="col-xs-12 text-center" style="padding: 10px;">
      <h3> {{ district }} 地区 {{ notice_data.story_date }} 故事会活动通知 </h3>
    </div>
    
    <div class="col-xs-0 col-sm-0 col-md-2"></div>
    <div class="col-xs-12 col-sm-12 col-md-8" style="font-size: 1.2em;">
      <div class="row">
        <div class="col-xs-4 col-md-3">故事会主题：</div>
        <div class="col-xs-8 col-md-9">{{ notice_data.story_theme }}</div>
      </div>
        
      <div class="row">
        <div class="col-xs-4 col-md-3">活动日期时间：</div>
        <div class="col-xs-8 col-md-9">{{ notice_data.story_date }}， {{ notice_data.story_time }} </div>
      </div>
    
      </div>
    </div>
    <div class="col-xs-0 col-sm-0 col-md-2"></div>

  </div>

  {% endif %}
</div>
{% endblock %}
